* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Radley', serif;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

h1 {
	font-family: 'Black Ops One', cursive;
}

h2,h3,h4,h5 {
	font-family: 'Baloo', cursive;
}

.main-menu {
	width: 100%;
	height: 60px;
	background-color: #252730;
	color: white;
	box-shadow: 0px 0px 5px 5px black;
}

.main-menu .logo {
	font-family: 'Bungee Inline', cursive;	
	padding: 10px;
	padding-top: 5px;
	color: #7f0000;
	font-size: 20px;
	float: left;
	padding-right: 20px; 
	z-index: 100;
}

.main-menu ul {
	list-style-type: none;
	float: left;
	z-index: 20;
}

.main-menu ul li {
	float: left;
	list-style-type: none;
	position: relative;
	min-width: 120px;
}

.main-menu ul li a {
	font-family: 'Black Ops One', cursive;
	padding: 20px 14px;
	color: #7f0000;
	font-size: 14px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 2px;
	min-width: 120px;
}

.main-menu ul li ul {
	display: none;
	position: absolute;
	background-color: #252730;
}

.main-menu ul li ul li {
	box-shadow: 4px 4px 4px black;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
}

.main-menu ul li:hover ul{
	animation: load .5s;
	display: block;
	z-index: 5;
}

.main-menu ul li ul li:hover {
	background-color: #7f0000;
	color: #252730;
	box-shadow: 4px 4px 4px black;
}

.main-menu ul li .hover:hover {
	color: #252730;
	background: #7f0000; 
}

.hover:hover {
	background: #7f0000; 
}

.main-menu ul li ul li:hover a {
	color: #252730;
}

.main-menu label {
	font-size: 26px;
	color: #7f0000;
	float: right;
	padding: 16px;
	display: none;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 55vw;
	overflow: hidden;
	box-shadow: 4px 4px 4px;
}

.layer {
	position: absolute;
	width: 100vw;
	min-height: 55vw;
	overflow: hidden;
}

.layer .content-wrap {
	position: absolute;
	width: 100vw;
	min-height: 55vw;
}

.layer .content-body {
	width: 25%;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	color: white;
}

.layer img {
	position: absolute;
	width: 35%;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
}

.layer h1 {
	font-size: 2em;
}

.bottom {
	background: #222;
	z-index: 1;
}

.bottom .content-body {
	right: 5%;
	z-index: 4;
}

.bottom h1 {
	color: #fdab00;
}

.top {
	background: #eee;
	color: #222;
	z-index: 2;
	width: 50vw;
}

.top .content-body {
	left: 35%;
	top: 20%;
	color: #222;
	z-index: 4;
}

.top button {
	width: 150px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	border: none;
	font-weight: bold;
	font-size: 18px;
	box-shadow: 4px 4px 4px black;
	cursor: pointer;
}

.top button:hover {
	transition: .7s;
	box-shadow: 8px 8px 8px black;
	background: darkgray;
}

.bottom button {
	width: 150px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	border: none;
	font-weight: bold;
	font-size: 18px;
	box-shadow: 4px 4px 4px black;
	cursor: pointer;
	background: #fdab00;
}

.bottom button:hover {
	transition: .7s;
	box-shadow: 8px 8px 8px black;
	background: darkorange;
}

.bottom .content-body {;
	top: 20%;
	right: 5%;
	color: #fdab00;
}

.handle {
	position: absolute;
	height: 55%;
	display: block;
	background: #7f0000; 
	width: 5px;
	top: 0;
	left: 50vw;
	z-index: 3;
}

.row {
	display: grid;
	grid-template-columns: 70% 30%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.postbox h1 {
	color: #fdab00;
	text-decoration: underline;
	text-align: center;
}
.postrow {
	display: grid;
	grid-template-columns: 70% 30%; 
	background-color: #252730;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 6px 6px 6px;
}

.main-post {
	width: 50%;
	margin: 0 auto;
}

.postrow p {
	width: 400px;
}

.main-menu ul li ul li:first-child {
	animation-delay: .6s;
}
.main-menu ul li ul li:nth-child(2) {
	animation-delay: 1.1s;
}
.main-menu ul li ul li:nth-child(3) {
	animation-delay: 1.7s;
}

.main-menu input[type=checkbox] {
	display: none;
}

.main-post a button {
	text-decoration: none;
	background: #7f0000;
	color: black;
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
	width: 90%;
	border: none;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 2px 2px 2px;
}

.main-post a button:hover {
	transition: .6s;
	text-decoration: none;
	background: darkred;
	color: black;
	padding: 12px;
	box-shadow: 4px 4px 4px;
	cursor: pointer;
}

.center {
	text-align: center;
	margin-bottom: 5px;
}

.main {
	background-color: #222;
	padding: 20px;
	box-shadow: 8px 8px 8px;
}

.postList ul {
	list-style-type: none;
	background: #222;
	box-shadow: 6px 6px 6px;
	margin-top: 8px;
	padding: 10px;
}

.postList ul:hover {
	box-shadow: 9px 9px 9px;
	margin-bottom: 15px;
	transition: .7s;
	cursor: pointer;
}

.postList ul li {
	display: inline-block;
	padding: 10px;
	color: #fdab00;
}

.skewed .handle {
	top: 50%;
	transform: rotate(30deg) translateY(-50%); 
	height: 200%;
	transform-origin: top;
}

.skewed .top {
	transform: skew(-30deg);
	margin-left: -1000px;
	width: calc(50vw + 1000px);
}

.online-Users {
	background: #222;
	width: 90%;
	padding: 20px;
	color: #fdab00;
	box-shadow: 6px 6px 6px black;
	text-align: center;
	margin-bottom: 10px;
}

.post-img {
	width: 100%;
	margin-bottom: -5px;
	height: 300px;
	box-shadow: 6px 0px 6px;
	cursor: pointer;
}

.skewed .top .content-wrap {
	transform: skew(30deg);
	margin-left: 1000px;
}

.turni {
	width: 100vw;
	height: 100vh;
	background-color: #222;
	margin: 5px 0px;
	overflow: hidden;
	box-shadow: 6px 6px 6px;
}

.turni h1 {
	color: #fdab00;
	text-align: center;
	margin: 40px 0;
}

.team1 div {
	position: absolute;
	margin-top: 32vh;
	margin-left: 32vw;
	color: #7f0000;
	font-size: 18px;
	font-weight: bold;
}

.team2 div {
	color: #fdab00;
	position: absolute;
	margin-top: 32vh;
	margin-left: 7vw;
	font-size: 18px;
	font-weight: bold;
}

.team1 h1 {
	color: #7f0000;
}

.turni .team1 img {
	width: 80vw;
}

.turni .team2 img {
	width: 80vw;
}

.half {
	display: grid;
	grid-template-columns: 50% 50%;
}

.vs img {
	z-index: 3;
	position: absolute;
	margin-top: -32vw;
	margin-left: 43.5vw;
	width: 13vw;
}

.subscribe {
	background-color: #bbb;
	padding: 10px;
	width: 60%;
	margin: 20px auto;
	box-shadow: 6px 6px 6px;
	text-align: center;
}

.subscribe form input {
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	text-align: center;
	color: #fdab00;
	background-color: #fff;
	box-shadow: 4px 4px 4px black;
	margin-left: 5px;
}

.subscribe form input:focus {
	outline: none;
}


.subscribe form input[type=submit] {
	width: 250px;
	font-size: 25px;
	background: #7f0000;
	color: #fdab00;
	border: none;
}

.subscribe form input[type=submit]:hover {
	transition: .7s;
	box-shadow: 8px 8px 8px black;
	background: red;
}

.row-3 {
	display: grid;
	grid-template-columns: auto auto auto;
}

.footer-wrap {
	background-color: #252730;
	text-align: center;
}

.footer-wrap h1 {
	text-align: center;
	padding: 10px;
	text-decoration: underline;
}

.connect {
	text-align: center;
	border-bottom: 2px solid black;
}

.connect a {
	text-align: center;
	color: #7f0000;
}

.connect a:hover {
	text-align: center;
	color: #fdab00;
}

.copyright {
	background: #222;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

@media only screen and (max-width: 1168px) {
	.main-menu label {
		display: block;
		cursor: pointer;
	}
	.main-menu ul{
		text-align: center;
		width: 90%;
		background-color: #252730;
		margin-left: 5%;
		position: absolute;
		margin-top: 10px;
	}
	#menu-toggler + ul {
		display: none;
	}
	.main-menu ul li {
		text-align: center;
		width: 100%;
		background-color: #252730;
	}
	.main-menu ul li a {
		display: block;
	}
	.main-menu ul li ul li {
		z-index: 1;
		background: #7f0000;
		box-shadow: 3px 3px 3px black;
		margin-bottom: 3px;
	}
	.main-menu ul li ul li a {
		color: #252730;
	}
	#menu-toggler:checked + ul {
		display: block;
	}
}

@media only screen and (min-width: 1169px) {
	#wrapper {
		font-size: 75%;
	}	
}

@keyframes load {
		0% {
			transition: ease-in-out 1s;
		}
		100% {
			opacity: 1;
		}
	}
	
	@keyframes unload {
		100% {

		}
		0% {
			
		}